
.container{
    display: flex;
    justify-content: center;
}


.box1{
    border: 2px solid green;
    padding: 25px;
    background-color: #acc270;
    
}

.box2{
    border-radius: 30px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}


.blue{
    background-color: #00b6d6;
    position: relative;
    height: 80px;
}

.main{
    width: 300px;
}

.wrapper{
    display: block;
    width:900px;
    margin:0 auto;
    position: relative;
}

#one {
    list-style: none;
}

#two {
    float : left;
    margin-right: 10px;
    /* border-left:2px solid #999; */

}

ul li:first-child{
    border-left: none;
}

.box-title {
    width: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 80px;
    color: #000;
    position: relative;
    font-weight: 500;
}

.summary-list{
    font-size: 16px;
    border: 1px solid #eee;
    padding: 40px 40px;
}

.addthis_inline_share_toolbox_k9hm{
    position: absolute;
    top: 30px;
    right: 0;

}